* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fbebcb;
  width:100%;
}
.nav-item {
  padding: 15px;
  font-family: 'Libre Baskerville';
  font-size: 16pt;
  color: #ec3b1b;
}
.logo{
  width: 30%;
}

.footer {
  text-align: center;
  color: #f6f4ea;
  background-color:#363735;
  position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

.newpost {
  text-align: center;
  background-color:#fbebcb;
  font-family: 'Libre Baskerville';
  font-size: 32pt;
}

.about{
   margin-top:2%;
   margin-bottom:10%;
   padding:10%;
   background-color:#f0f0f0;
   font-size:16pt;
}

h1 {
  font-family: 'Libre Baskerville' serif;
}
